.button-bar-inactive {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	color: white;
	border-radius: 10px;
	font-variant: small-caps;
	font-size: 1rem;
	margin-top: 1rem;
	padding: .8rem;

	background-image: linear-gradient(0deg, #E61052, #F93973);

	&:hover {
		color: white;
    background-color: #E61052;
  }
}