.search-button {
	color: white;
	border-radius: 10px;
	font-variant: small-caps;
	font-size: .8rem;
	margin-left: .5rem;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-image: linear-gradient(180deg, #E61052, #F93973);

	&:hover {
		color: white;
    background-color: #E61052;
  }
}