.search-button {
	color: white;
	border-radius: 10px;
	font-variant: small-caps;
	font-size: .8rem;
	background-image: linear-gradient(180deg, #E61052, #F93973);

	&:hover {
		color: white;
    background-color: #E61052;
  }
}